<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>TO-DO Application :: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/semantic.min.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <header class="ui menu">
        <div class="header item">To-Do</div>
        <div class="active item"></div>
        <div class="right compact menu">
            <div class="ui simple dropdown item">
                회원관련
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% block dropdown_header_bar %}
                        <div class="item">회원가입</div>
                        <div class="item">로그인</div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </header>
    <nav></nav>
    <section>

    </section>
    <script src="{% static 'accounts/semantic.min.js' %}"></script>
</body>
</html>